.searchField {
    input {
        padding: 0.8rem 2rem;
        border-radius: 2.5rem;
        background-color: rgba($color-grey, $alpha: 0.7);
        border: 1px solid $color-grey;

        &::before {
            content: url('https://icons8.com/icon/59878/search');
            display: block;
        }
    }
}

.sectionTitle {
    padding-bottom: 1.6rem;
    border-bottom: 1px solid rgba($color-grey, $alpha: 0.7);
    margin-bottom: 2rem;

    p {
        color: rgba($color-primary, $alpha: 0.7);
        margin-top: 1.5rem;
    }
}