.cta-btn {
    background-color: $color-primary;
    color: $color-light;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
        background-color: rgba($color-primary, $alpha: 0.9);
    }
}

.btn {
    padding: 1rem 2rem;
    border: 1px solid $color-primary;
    border-radius: 2.5rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: rgba($color-primary, $alpha: 0.8);
        color: $color-light;
    }
}