.cta-btn {
    background-color: $color-primary;
    color: $color-light;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
        background-color: rgba($color-primary, $alpha: 0.9);
    }
}