.story {
    display: inline-flex;
    
    &__img {
        img {
            width: 100%;
            max-height: 20rem;
            object-fit: cover;
        }
    }

    &__topic {
        align-self: flex-start;
        color: $color-blue;
        padding: 0.5rem;
        background-color: rgba($color-blue, $alpha: 0.1);
        border-radius: 0.4rem;
    }

    &__title {
        font-size: 2.4rem;
    }

    .author {
        display: flex;
        align-items: center;
        gap: 20px;
        color: rgba($color-primary, $alpha: 0.7);

        &__avatar {
            height: 4rem;
            width: 4rem;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: fill;
            }
        }

        &__name {
            font-weight: bold;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // featured layout
    &.featured {

    }

    // Vertical layout
    &.vertical {
        
    }

    // Horizontal
    &.horizontal {
        
    }

    &.vertical, &.horizontal {
        flex-direction: column;
        padding: 1rem;
        border: 1px solid $color-grey;
        border-radius: 1rem;
        gap: 1.5rem;
    }
}