.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;

    &__left {
        display: flex;
        align-items: center;
        gap: 3rem;

        .logo {
            height: 5rem;
            width: 5rem;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: fill;
            }
        }
    }

    &__nav {
        ul {
            display: flex;
            gap: 2rem;
        }

        a {
            color: $color-primary;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 3rem;

        .user-menu {
            height: 5rem;
            width: 5rem;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: fill;
            }
        }
    }
}