@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Manrope:wght@500;600;800&family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Manrope", sans-serif;
  font-size: $font-size-normal;
  color: $color-primary;
  min-height: 100vh;
  padding-bottom: 20rem; // Just to give space at the bottom for visibility, to be removed later
}

h2 {
    font-size: 3.6rem;
}